@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
/* layout */

@media (max-width: 600px) {
	body {
		margin: 0;
	}
	#inner-container {
		margin: 10px;
	}
	#list {
		padding: 20px;
	}
	#picture img {
		float: right;
		margin: 20px 20px 0px 0px;
	}
}

@media (min-width: 550px) {
	html {
		height: 100%;
	}
	body {
		display: flex;
		align-items: center;
		height: 100%;
		margin: 0;
	}
	#outer-container {
		margin: auto;
		width: 600px;
		max-width: 30%;
		padding: 0;
	}
	#inner-container {
		display: flex;
		flex-wrap: wrap;
	}
	#list {
		flex-basis: 286px;
		flex-grow: 1;
		padding: 20px;
	}
	#picture {
		flex-basis: 144px;
		flex-grow: 0;
		padding: 20px 20px 0px 0px;
		height: 0px;
	}
}

/* colors and typography */

body {
	background-color: #a4a67e;
	/*background-image: url('Mejstedt.se.png');*/
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: top center;
}

body, th, tr, td, p {
	/*font-family: 'Open Sans Condensed', sans-serif;*/
}

#inner-container {
	border: 5px solid #5b5c46;
}

h1 {
	color: #000;
	margin: 0;
	font-size: 3.5em;
}

a:link, a:visited {
	color: #be6b0c;
	text-decoration: none;
}

a:hover, a:active {
	color: #884c07;
	text-decoration: underline;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
	padding: 2px;
}

li img {
	vertical-align: sub;
}